.sidebar{
  grid-area: sidebar;
  padding: 10px;
  background: rgb(67, 177, 67);
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}
.sidebar a.last {
  margin-top: 20px;
}